:root {
    --main-color: #0c0314;
    --secondary-color: #1a1015dc;
    --brand-grey:#bfbfbf;
    --brand-info:#666666;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.title-on-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tips-on-image{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-color{
    background-color: var(--main-color);
    color: white;
}

.main-color-border{
    background-color: white;
    color: var(--main-color);
    border-color: var(--main-color);
    border-style: solid;
    border-radius: 1rem;
    border-width: 2px;
}

.red-color-border{
    background-color: white;
    color: red;
    border-color: red;
    border-style: solid;
    border-radius: 1rem;
    border-width: 2px;
}

.main-color-text{
    color: var(--main-color);
}

.btn:hover {
    background-color: var(--secondary-color);
    color:white;
}

.main-color-negative{
    background-color: white;
    color: var(--main-color);
}

.log-form{
    width: 80%;
    height: auto;
}

.input-field input:focus + label{
    color: var(--main-color) !important;
}

.input-field .prefix.active {
    color: var(--main-color) !important;
}

.row .input-field input:focus {
    border-bottom: 1px solid var(--main-color) !important;
    box-shadow: 0 1px 0 0 var(--main-color) !important;
}

.palm-image{
    width: 200;
    height: 200;
}

.info{
    color: white;
    font-size: 1.3rem;
}

.info-id{
    color: white;
    font-size: 1rem;
}

.title-info{
    color: var(--brand-grey);
    font-size: 1.1rem;
    font-weight: bold;
}

.info-card{
    height: 13rem;
}

.search-zone{
    border-radius: 1rem;
}

.main-color-bold{
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.4rem;
}

tbody > tr:hover{
    background-color: var(--secondary-color);
}

.main-color-btn{
    background-color: var(--main-color);
    color: white;
    margin-left: 1rem;
}

.market-value{
    font-size: 3rem;
    font-weight: bold;
    margin-right: 0.9rem;
    margin-left: 2rem;
}

.main-color-text-bold{
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: bold;
}