<script src="../js/jquery.min.js"></script> 
<script src="../js/materialize.min.js"></script>

<link href="../css/materialize.min.css" rel="stylesheet" type="text/css"/>
<link href="../css/materialize.icons.css" rel="stylesheet" type="text/css"/>
<link href="../css/application.css" rel="stylesheet" type="text/css"/>